<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.mall.product.dao.ProductDao">
	<sql id="product_base_select">
		SELECT ROW_ID,PRODUCT_NAME,PRODUCT_CODE,PRODUCT_PICTURE,PRODUCT_PRICE,PRODUCT_COUNT,PRODUCT_INFO,PRODUCT_STATUS,CREATE_BY,CREATE_DATE,UPDATE_BY,UPDATE_DATE FROM TB_PRODUCT WHERE ACTIVE_FLAG = 1
	</sql>

	<insert id="save" parameterType="Product" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_PRODUCT (CATALOG_ID,PRODUCT_NAME,PRODUCT_CODE,PRODUCT_PICTURE,PRODUCT_PRICE,PRODUCT_COUNT,PRODUCT_INFO,PRODUCT_STATUS,ACTIVE_FLAG,CREATE_BY,CREATE_DATE)
		VALUES(#{catalogId},#{productName},#{productCode},#{productPicture},#{productPrice},#{productCount},#{productInfo},#{productStatus},#{activeFlag},#{createBy},#{createDate})
	</insert>

	<update id="update" parameterType="Product">
		UPDATE TB_PRODUCT
		<set>
			<if test="productName!=null">
				PRODUCT_NAME = #{productName},
			</if>
			<if test="productCode!=null">
				PRODUCT_CODE = #{productCode},
			</if>
			<if test="productPicture!=null">
				PRODUCT_PICTURE = #{productPicture},
			</if>
			<if test="productPrice!=null">
				PRODUCT_PRICE = #{productPrice},
			</if>
			<if test="productStatus!=null">
				PRODUCT_STATUS = #{productStatus},
			</if>
			<if test="productCount!=null">
				PRODUCT_COUNT = #{productCount},
			</if>
			<if test="productInfo!=null">
				PRODUCT_INFO = #{productInfo},
			</if>
			<if test="updateBy!=null">
				UPDATE_BY = #{updateBy},
			</if>
			<if test="updateDate!=null">
				UPDATE_DATE = #{updateDate},
			</if>
		</set>
		WHERE ROW_ID = #{rowId}
	</update>
   
   <update id="doUpdateState">
   UPDATE TB_PRODUCT
   <set>
		PRODUCT_STATUS = #{productState},
	</set>
	WHERE ROW_ID = #{rowId}
   </update>
   
	<delete id="delete">
		DELETE FROM TB_PRODUCT WHERE ROW_ID = #{rowId}
	</delete>

	<select id="get" resultType="Product">
		<include refid="product_base_select" />
		AND ROW_ID = #{rowId}
	</select>

	<select id="find" resultType="Product">
		<include refid="product_base_select" />
	</select>
	<select id="findById" resultType="Product">
		<include refid="product_base_select" /> AND ROW_ID = #{rowId}
	</select>
	<select id="findProductByCatalogId" resultType="Product">
		<include refid="product_base_select" /> AND CATALOG_ID = #{catalogId}
	</select>
	
	<select id="findVw" resultType="VwProduct">
	SELECT CATALOG_NAME,ROW_ID,PRODUCT_NAME,PRODUCT_CODE,PRODUCT_PICTURE,PRODUCT_PRICE,PRODUCT_COUNT,PRODUCT_INFO,PRODUCT_STATUS FROM VW_PRODUCT WHERE ACTIVE_FLAG = 1
	</select>
	
	<select id="getByName" resultType="Product">
		<include refid="product_base_select" />
		AND PRODUCT_NAME = #{productName}
	</select>

	
</mapper>